{% if site.newsletter.enabled and site.footer_fixed %}
  <p class="mb-2" style="margin-top: 1.5rem !important">Subscribe to be notified of future articles:</p>
  {% include scripts/newsletter.liquid left=true %}
{% endif %}
